<form id="login_form">
  <div class="form-group">
    <input type="text"  id="user_email" placeholder="Email"  class="form-control"/>
  </div>
  <div class="form-group">
    <input type="password"  id="user_password" placeholder="Password"  class="form-control"/>
      <span id="error_sec" class="text-danger"></span>
  </div>
  <div class="action_btn">
    <button class="btn btn-danger" id="auth_btn">Submit</button>
  </div>
</form>
