<div class="index_page">
  <div class="row">
    <div class="col-sm-6 grey_bg">
      <div class="box w-50 pt-5">
        <h6 class="w-50 line text-center mx-auto mb-4 pb-2 text-uppercase"><b>Patient</b></h6>
        <!-- <%#= form_with url: 'https://dp-appointment-api.herokuapp.com/create_patient' do |f| %>
          <div class="form-group">
          <%#= f.label :patient_name, "Search for:" %>
          <%#= f.text_field :name, id: :patient_name %>
        </div>
          <div class="form-group">
          <%#= f.label :patient_phone, "Search for:" %>
          <%#= f.text_field :phone, id: :patient_phone %>
            </div>
          <%#= f.submit "submit" %>
        <%# end %> -->
        <form id="patient_form">
          <div class="form-group">
            <input type="text" id="patient_name" name="patient_name" placeholder="Name"  class="form-control"/>
          </div>
          <div class="form-group">
            <input type="text"  id="patient_phone" name="patient_phone" placeholder="Phone"  class="form-control"/>
          </div>
           <div class="form-group text-right">
              <button class="btn btn-danger" id="patiemt_form_btn">Submit</button>
           </div>
        </form>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="box w-50 pt-5">
        <h6 class="w-50 line text-center mx-auto mb-4 pb-2 text-uppercase"><b>Doctor</b></h6>
        <form id="doctor_form" method="POST">
        <div class="form-group">
          <input type="text"  id="doc_name" placeholder="Name"  name="doctor_name" class="form-control"/>
        </div>
        <div class="form-group">
          <input type="text"  id="doc_phone" placeholder="Phone Number" name="doctor_phone" class="form-control"/>
        </div>
        <div class="form-group">
          <input type="text" id="doc_spec" placeholder="Specialization" name="doctor_specialization" class="form-control"/>
        </div>
        <div class="form-group text-right">
          <button class="btn btn-danger" id="doctor_form_btn">Submit</button>
        </div>
       </form>
     </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="box w-50 pt-5">
        <h6 class="w-50 line text-center mx-auto mb-4 pb-2 text-uppercase"><b>Appointment</b></h6>
        <form id="appointment_form" method="POST">
        <div class="form-group" id="sel_doctor"></div>
        <div class="form-group" id="sel_patient"></div>
        <div class="form-group">
          <input type="text" id="appointment_dise" placeholder="Diseases" class="form-control" name="diseases"/>
        </div>
        <div class="form-group text-right">
          <button class="btn btn-danger" id="appointment_form_btn">Submit</button>
        </div>
       </form>
     </div>
    </div>
    <div class="col-sm-6 grey_bg">
      <div class="box">
        <h6 class="text-center text-uppercase line pb-2 mb-4 w-50 mx-auto"><b>View the Appointments</b></h6>
         <div class="table-responsive px-4" id="rep_table">
           <table class="table">
             <thead id="table_list">
               <tr>
                 <th>Doctor Name</th>
                 <th>Patient Name</th>
                 <th>Disease</th>
               </tr>
             </thead>
             <tbody id="table_tbody">

             </tbody>
           </table>
         </div>
        </div>
    </div>
  </div>
</div>
<script>
$(document).on('ready',function(){
  console.log('doc loaded');
  get_appointment();
  get_doctor();
  get_patient();
  // get all appointmetns aand dispaly in table function
  function get_appointment(){
    console.log('function call');
    // $.getJSON('https://dp-appointment-api.herokuapp.com/appointments.json', (res1) => {
    //  debugger;
    //   $('#table_tbody').html(appointment_data(res1));
    //
    //   $('#rep_table').after(pagiantion_data(res1));
    // });

    $.ajax({
     url: "https://dp-appointment-api.herokuapp.com/appointments.json",
     type: 'GET',
     // Fetch the stored token from localStorage and set in the header
     // headers: {"Authorization": localStorage.getItem('res.access_toke')},
     headers: { "Authorization": 'Bearer ' + localStorage.getItem('token') },
     success:function(res1){
       $('#table_tbody').html(appointment_data(res1));
       $('#rep_table').after(pagiantion_data(res1));
       // localStorage.setItem('res.access_toke', )
     },
     error:function(response){
       // debugger;
       if(response.status == 401 || response.responseJSON.message == "Not enough or too many segments" || response.responseJSON.message == "Nil JSON web token"){
         window.location.href = 'https://dp-appointment-app.herokuapp.com/sign_in'
          $('#flash').html('Please Login with Email and password');
       }
     }
    });
  }



 $('ul.pagination li a').on('click',function(event){
    event.preventDefault();
   console.log('pagiantion link');
   var url = $('this').attr('data-url');
   console.log(url);
   $.get(url, function(response) {
    debugger;
  });
   // $.ajax({
   //   type: 'POST',
   //   url: url,
   //   dataType: 'json',
   //   contentType: 'application/json',
   //   success: function(res,g) {},
   //    error: function(res){
   //
   //    }
   // });

 });
  //get all doctor name
  function get_doctor(){
    // $.get('https://dp-appointment-api.herokuapp.com/get_doctor.json',{ headers: { "Authorization": 'Bearer ' + localStorage.getItem('token') }} ,function(response) {
    //    // debugger;
    //    var output="<select class='form-control' name='doctor_id'><option disabled selected value > Doctor Name</option>";
    //    for (var i in response)
    //     {
    //         output+="<option value="+ response[i][0] +"> " + response[i][1] + " </option>";
    //     }
    //     output+="</select>";
    //     $('#sel_doctor').html(output);
    // });
    $.ajax({
      type: 'GET',
      url: "https://dp-appointment-api.herokuapp.com/get_doctor.json",
      dataType: 'json',
      headers: { "Authorization": 'Bearer ' + localStorage.getItem('token') },
      contentType: 'application/json',
      success: function(response) {
        var output="<select class='form-control' name='doctor_id'><option disabled selected value > Doctor Name</option>";
        for (var i in response)
         {
             output+="<option value="+ response[i][0] +"> " + response[i][1] + " </option>";
         }
         output+="</select>";
         $('#sel_doctor').html(output);
      },
       error: function(res){

       }
    });
  }



 // get all patiemt name
  function get_patient(){
   // $.get('https://dp-appointment-api.herokuapp.com/get_patient.json', function(response) {
   //  // debugger;
   //   var output="<select class='form-control' name='patient_id'><option disabled selected value > Patient Name</option>";
   //   for (var i in response)
   //    {
   //        output+="<option value="+ response[i][0] +"> " + response[i][1] + " </option>";
   //    }
   //    output+="</select>";
   //    $('#sel_patient').html(output);
   // });
   $.ajax({
     type: 'GET',
     url: "https://dp-appointment-api.herokuapp.com/get_patient.json",
     dataType: 'json',
     headers: { "Authorization": 'Bearer ' + localStorage.getItem('token') },
     contentType: 'application/json',
     success: function(response) {
       var output="<select class='form-control' name='patient_id'><option disabled selected value > Patient Name</option>";
       for (var i in response)
        {
            output+="<option value="+ response[i][0] +"> " + response[i][1] + " </option>";
        }
        output+="</select>";
        $('#sel_patient').html(output);
     },
      error: function(res){

      }
   });
  }
  // add new doctor to list
  $('#doctor_form_btn').on('click',function(e){
     e.preventDefault();
     console.log($('#doc_name').val());
     $.ajax({
       type: 'POST',
       url: 'https://dp-appointment-api.herokuapp.com/create_doctor',
       dataType: 'json',
       headers: { "Authorization": 'Bearer ' + localStorage.getItem('token') },
       contentType: 'application/json',
       data: JSON.stringify({ name: $('#doc_name').val(), phone: $('#doc_phone').val(), specialization  :$('#doc_spec').val()}),
       success: function(res,g) {
           $('#sel_doctor select')
            .append($("<option></option>")
                       .attr("value",res['doc_list'].id)
                       .text(res['doc_list'].name));
          toastr.info(res['message']);
          $('form :input').attr('value', '');
          $('#doc_name,#doc_phone,#doc_spec').val('');
       },
       error: function(res){
         form = $('#doctor_form');
         form.find('.form-group').removeClass('has-error');
         form.find('span.help-block').remove();
         $.each(res.responseJSON.errors, function(field, messages) {
           form.find('input, select').filter(function(){
            console.log(this);
            name = $(this).attr('name');
            if (name == ('doctor_'+ field)){
                $(this).parent().append('<span class="help-block text-danger">' + $.map(messages,function(m,index){ return m}).join('<br />') + '</span>');
            }
          });
          });
          //toastr.error('Please Enter all the values')
       }
    });
  });
  // add new Patient to list
  $('#patiemt_form_btn').on('click',function(e){
     e.preventDefault();
     console.log($('#doc_name').val());
     $.ajax({
       type: 'POST',
       url: 'https://dp-appointment-api.herokuapp.com/create_patient',
       dataType: 'json',
       contentType: 'application/json',
       data: JSON.stringify({name:  $("#patient_name").val(), phone: $("#patient_phone").val()}),
       success: function(res) {
         debugger;
           $('#sel_patient select')
            .append($("<option></option>")
                       .attr("value",res['patient_list'].id)
                       .text(res['patient_list'].name));
          toastr.info(res['message']);
          $('#patient_name,#patient_phone').val('');
       },
       error: function(res){
         form = $('#patient_form');
         form.find('.form-group').removeClass('has-error');
         form.find('span.help-block').remove();
         $.each(res.responseJSON.errors, function(field, messages) {
            form.find('input, select').filter(function(){
              name = $(this).attr('name');
              if (name == ('patient_'+ field)){
                  $(this).parent().append('<span class="help-block text-danger">' + $.map(messages,function(m,index){ return m}).join('<br />') + '</span>');
              }

            });
         });

       }
    });
  });

  // create new appointment
  $('#appointment_form_btn').on('click',function(e){
     e.preventDefault();
     console.log($('#doc_name').val());
     $.ajax({
       type: 'POST',
       url: 'https://dp-appointment-api.herokuapp.com/create_appointment',
       dataType: 'json',
       contentType: 'application/json',
       data: JSON.stringify({doctor_id:  $("#sel_doctor select option:selected").val(),patient_id: $("#sel_patient select option:selected").val(),diseases: $('#appointment_dise').val()}),
       success: function(res) {
          console.log('ds');
           get_appointment();
        },
        error: function(res){
          debugger;
          form = $('appointment_form');
          form.find('.form-group').removeClass('has-error');
          form.find('span.help-block').remove();
          $.each(res.responseJSON.errors, function(field,messages) {
            form.find('input, select').filter(function(){
             console.log(field);
             name = $(this).attr('name');
             if (name == field){
                 $(this).parent().append('<span class="help-block text-danger">' + $.map(messages,function(m,index){ return m}).join('<br />') + '</span>');
             }
           });
           });
        }
    });
  });
});
function setSelectedTestPlan(e,page_no){
  console.log('dsfds');
  console.log(e);
  var url = $(e).attr('data-url');
  console.log(url);
  $.get(url, function(response) {
   debugger;
   $('#table_tbody').html(appointment_data(response));

   $('#rep_table').next('').html(pagiantion_data(response));
   });
}

function appointment_data(res1){
  // var output="<tbody>";
  var output;
  for (var i in res1.appointment)
   {
     output+="<tr><td>"+ res1.appointment[i].doc_name +  "</td><td>"+ res1.appointment[i].pat_name + "</td><td>" + res1.appointment[i].disease + "</td></tr>";
   }
   // output+="</tbody>";
   return output
}

function pagiantion_data(res1){
  var pagiantion = "<nav aria-label='Page navigation'><ul class='pagination'>";
  for(var i = 1;i <= res1.meta.total_pages; i++){
    if(res1.meta.current_page == i ) {
      pagiantion+="<li class='page-item page current active'><a href='javascript:void(0);' class='page-link'><span class=''>"+ i +"</span></a></li>";
    }
    else{
     pagiantion+="<li class='page page-item'><a  class='page-link pagination_link' href='javascript:void(0);' onclick='setSelectedTestPlan(this,"  + i + ');' + "'data-url='https://dp-appointment-api.herokuapp.com/appointments.json/?page=" + i + "&&'>" +  i +"</li>";
    }
  }
  pagiantion += "</ul>";
  return pagiantion
}
</script>
