$('#auth_form').html("<%= j render(:partial => 'signup') %>");
$('#auth_submit').on('click',function(e){
  e.preventDefault();
  console.log('doc load tested');
  $.ajax({
    type: 'POST',
    url: 'http://localhost:3001/signup',
    dataType: 'json',
    contentType: 'application/json',
    data: JSON.stringify({ name: $('#user_name').val(),email: $('#user_email').val(), password: $('#user_password').val()}),
    success: function(res) {
      $('#user_name').val('');
      $('#user_email').val('');
      $('#user_password').val('');
     toastr.success('New User Created Successfully');
  },
    error: function(res){
      debugger;
       form = $('#signup_form');
       form.find('.form-group').removeClass('has-error');
       form.find('span.help-block').remove();
       $.each(res.responseJSON.errors, function(field, messages) {
         form.find('input').filter(function(){
          console.log(this);
          console.log('------------------');
          name = $(this).attr('name');
          if (name == ('user_'+ field)){
              $(this).parent().append('<span class="help-block text-danger">' + $.map(messages,function(m,index){ return m}).join('<br />') + '</span>');
          }
        });
        });
    }
   });
});
