<div class="login_box">
  <div class="w-25 m-auto">
      <h5 class="text-center">
        <%= link_to "Login", sign_in_path, :remote => true, class:'nav_link active' %>
        <span>&nbsp; or&nbsp;</span>
      <%= link_to "SignUp", sign_up_path, :remote => true, class:'nav_link' %>
      </h5>
      <div id="auth_form">
        <%= render 'login'%>
      </div>
  </div>
</div>
<script>
$(document).on('ready',function(){
   $('.login_box .nav_link').on('click',function(){
     $('.nav_link').removeClass('active');
      $(this).addClass('active');
   });
   if (localStorage.getItem('token') != null){
      window.location.href = 'https://dp-appointment-app.herokuapp.com/sign_in';
   }
   $('#auth_btn').on('click',function(e){
     console.log('doc load tested');
     e.preventDefault();
     $.ajax({
       type: 'POST',
       url: 'https://dp-appointment-api.herokuapp.com/signin',
       dataType: 'json',
       contentType: 'application/json',
       data: JSON.stringify({ email: $('#user_email').val(), password: $('#user_password').val()}),
       success: function(res) {
         localStorage.setItem('token', res.access_token);
        // debugger;
        $('#error_sec').html('');
         window.location.href = 'https://dp-appointment-app.herokuapp.com'
         toastr.success('Login Successfully');
         console.log('success');
     },
       error: function(res){
        // console.log('error111111111');
        $('#error_sec').html('<span class="help-block text-danger">' + res.responseJSON.error.user_authentication + '</span>');
       }
      });
  });
  $('#auth_submit').on('click',function(e){
    e.preventDefault();
    console.log('doc load tested');
    $.ajax({
      type: 'POST',
      url: 'https://dp-appointment-api.herokuapp.com/signup',
      dataType: 'json',
      contentType: 'application/json',
      data: JSON.stringify({ name: $('#user_name').val(),email: $('#user_email').val(), password: $('#user_password').val()}),
      success: function(res) {
       window.location.href = 'https://dp-appointment-app.herokuapp.com/'
       toastr.success('Login Successfully')
    },
      error: function(res){
        // debugger;
         $('#eror_sec').html('<span class="help-block text-danger">' + res.responseJSON.error.user_authentication + '</span>');
      }
     });
 });
});
</script>
