/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min.css
 */
.grey_bg{
  background-color: #F0F1F1;
}
.box{
  margin: 50px auto;
}
.line{
  border-bottom: 1px solid #ddd;
}
.btn-orange{
  background-color: #E76D28;
  color: #fff;
}
.row{
  margin: 0px!important;
}
.login_box{
  margin-top: 200px;
}
.login_box a.active{
  color: #000;
}
.table{
  border-collapse: separate;
  border-spacing: 1px 9px;
  text-align: center;
}
.table thead th{
  background-color: #123E6F;
  border:none;
  padding: 0.65rem;
  color: #ffffff;
}
.table td{
 padding: 0.65rem;
 background-color: #ffffff;
}
h6 {
    color: #123E6F;
}
